
body {
    padding: 0;
    margin: 0;
    background-color: #F3F4F7;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.left {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 360px;
    margin-right: 70px;
    margin-bottom: 70px;
}

.left img {
    width: 200px;
}

.left p {
    font-size: 22px;
    line-height: 22px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 300px;
    height: 270px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 5px 10px rgb(0, 0, 0, 0.1);
}

.login, .pass {
    width: 280px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
}

.login {
    margin-top: 10px;
}

.pass {
    margin-top: 10px;
}

.box button {
    background-color: #436CF6;
    width: 280px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.box button:hover {
    cursor: pointer;
}

.forgotten {
    margin-top: 15px;
    text-decoration: none;
    color: #436CF6;
    font-size: 12px;
    font-weight: bold;
}

.new {
    text-decoration: none;
    color: white;
    background-color: #6BB345;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 280px;
    border: 1px solid rgb(0, 0, 0, 0.1);
}

.right p {
    margin-top: 20px;
    width: 300px;
    text-align: center;
    font-size: 11px;
}